.property-button {
    width: 100px;
    height: 50px;
    display: block;
    margin: 5px auto;
    background-color: black;
    color: aquamarine;
    border: 1px solid aquamarine;
    transition-property: width, height;
}
.property-button:hover {
    width: 200px;
    height: 70px;
}
.duration-button {
    width: 100px;
    height: 50px;
    display: block;
    margin: 5px auto;
    background-color: white;
   transition-duration: 1s;
}
.duration-button:hover {
    background-color: black;
    color: aquamarine;
    border: 1px solid aquamarine;
}
.timing-button {
    width: 100px;
    height: 50px;
    display: block;
    margin: 5px auto;
    background-color: white;
    transition-timing-function: cubic-bezier(1, 1, 1, 1);
}
.timing-button:hover {
    width: 100px;
    height: 100px;
    background-color: black;
    color: aquamarine;
    border: 1px solid aquamarine;
}
.div {
    width: 100%;
    height: 50px;

   
    text-align: center;

}
.ease {
    transition-property: transform;
    transition-duration: 2s;
transition-timing-function: ease;
}
.linear {
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: linear;
}
.ease-in {
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease-in;
}
.ease-out {
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease-out;
}
.ease-in-out {
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.div:hover {
    transform: translateX(300px);
}
span {
    border: 1px solid black;
    display: inline-block;
   width: 100px;
   height: 30px;
   margin-top: 5px;
   text-align: center;
   background-color: white;
   padding-top: 10px;
}
.delay-div {
    display: flex;
    width: 100%;
    margin: 5px auto;
    justify-content: center;
}
.block {
 
    max-width: 200px;
margin: 20px;
border: 1px solid black;
padding: 5px;
background-color: white;

}
.block_first {
    transition-delay: 0s;

}
.block_first:hover {

  background-color: black;
    color: aquamarine;
    border: 1px solid aquamarine;
}
.block_second {
    transition-delay: 1s;
}
.block_second:hover {
    background-color: black;
    color: aquamarine;
    border: 1px solid aquamarine;

}
.block_third {
    transition-delay: 2s;
}
.block_third:hover {
    background-color: black;
    color: aquamarine;
    border: 1px solid aquamarine;

}
.h2 {
  display: flex;
}
h2 {
    display: inline-block;
    margin: 10px auto;
    font-style: sans-serif;
}
body {
    background-color: #ADE8F4;
}